.up{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100vw;
}
.u-left {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 40%;
    background-color: aqua;
}
.u-right{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 60%;
}
.middle{
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 100vw;
}
.m-left{
    height: 100%;
    width: 40%;
    background-color: aqua;
    box-shadow: rgba(0, 255, 255, 0.09) 0px 2px 1px, rgba(0, 255, 255, 0.09) 0px 4px 2px, rgba(0, 255, 255, 0.09) 0px 8px 4px, rgba(0, 255, 255, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    height: 40px;
    width: 40px;
}
.m-right{
    height: 100%;
    width: 60%;
}
.log{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}